*{
  box-sizing: border-box;
  font-family: sans-serif;
}
.header{
  background-color: #1ebcd1;
  display: flex;
  max-width: 100%;
}
.header-content {
  display: flex;
  width: 1200px;
  margin: auto;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.left-part{
  display: flex;
  align-items: flex-end;
}
.menu {
  border:none;
  display: flex;
  padding: 0;
  outline: none;
  background-color: #1ebcd1;
}
.fa-bars{
  font-size: 22px;
  color: #fff;
}
.header-text{
  font-size: 16px;
  margin-left:20px;
  color:#fff;
}
.search{
  display: flex;
  align-items: center;
}
.search-input{
  transform: translateX(-100%);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: flex;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  width: 0px;
  height: 22px;
  transition: 0.55s;
}
.search-input.active {
  opacity: 1;
  height: 22px;
  visibility: visible;
  width: 250px;
}
.fa-search {
  font-size: 22px;
  padding: 0;
  color: #fff;
  margin-left: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: auto;
  padding: 50px;
  justify-content: space-between;
}
.main-header {
  color: #1ebcd1;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}
.main-content {
  justify-content: inherit;
  margin-top: 30px;
  display: flex;
}
.main-block {
  width: 300px;
}
.main-block-image {
  width: 300px;
  height: 300px;
}
.block-header{
  font-weight: 600;
  font-size: 16px;
  color: #383838;
  margin: 30px 0;
}
.block-text{
  font-weight: normal;
  font-size: 14px;
  color: #717171;
}